.home-card {
  background-color: #fff; /* White background for card */
}

.main-container-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content {
  padding-left: 50px;
}

.main-text {
  font-size: 4rem;
  font-weight: 900;
  color: black;
  line-height: 52px;
}

.highlighted-text {
  font-size: 4rem;
  font-weight: 900;
  color: rgb(27, 96, 226);
}

.description-text {
  color: black;
  font-size: 1rem;
  font-weight: 450;
}

.view-details-button {
  margin-top: 25px;
}
